@charset "utf-8";

/*==============================================================================
  タイトル: フォームスタイル
  著者    : Original Coding by Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : フォームのスタイルです。
  適用先  : leftblocks.thtml, loginform.thtml,
            custom-memberlogin.thtml, customlogin-header.thtml, customlogin-footer.thtml
==============================================================================*/



/*--------------------------------------
  検索フォーム
--------------------------------------*/

/* ブロック */
div#leftblocks div#block-left-search {
  margin: 0 0.2em;
  padding: 0.7em;
  border-bottom: 1px solid #999999;
  background: #e0e0e0;
}

/* フォーム */
div#leftblocks div#block-left-search form#searchform {
  margin: 0;
  padding: 0;
}

div#leftblocks div#block-left-search form#searchform ul {
  margin: 0;
  padding: 0;
}

div#leftblocks div#block-left-search form#searchform ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* フォームの入力フィールド */
div#leftblocks div#block-left-search form#searchform ul li input.text {
  border: 1px solid #7B9EBD;
}

/* フォームのボタン */
div#leftblocks div#block-left-search form#searchform ul li input.form-button {
}

/* 検索オプション */
div#leftblocks div#block-left-search form#searchform p {
  margin: 0;
  padding: 0;
}

/* 検索結果 */
.admin-list-search form {
  display: inline;
  margin-right: 1em;
}

/*--------------------------------------
  ログインフォーム
--------------------------------------*/

/* authentication buttons */
#login_facebook{left:0px;width:141px;}
#login_facebook{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position:0 0;}

#login_twitter{left:0px;width:141px;}
#login_twitter{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -23px;}

#login_linkedin{left:0px;width:141px;}
#login_linkedin{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -44px;}

#login_google{left:0px;width:141px;}
#login_google{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -66px;}

#login_yahoo{left:0px;width:141px;}
#login_yahoo{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -88px;}

#login_microsoft{left:0px;width:141px;}
#login_microsoft{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -110px;}

#login_github{left:0px;width:141px;}
#login_github{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -132px;}

#login_openid{left:0px;width:141px;}
#login_openid{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -154px;}

/* フォームの項目 */
form#loginform dl {
  margin: 0;
  padding: 0;
}

form#loginform dl dt {
  margin: 0;
  padding: 0;
}

form#loginform dl dd {
  margin: 0;
  padding: 0;
}

/* フォームのオプションメニュー */
form#loginform ul.navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form#loginform ul.navi li {
  margin: 0;
  padding: 0;
}

/* Third party login */
form.third-party-login {
  margin: 0.1em 0;
}

form.third-party-login div {
  position: relative;
}

form.third-party-login div img {
  position: absolute;
  left: 6px;
  top: 6px;
}

form.third-party-login div input.submit {
  text-indent: 24px;
  font-size: 12px;
  height: 28px;
}

div.third-party-login {
  width: 164px;
}
